<h1> UPLOAD YOUR IMAGE HERE </h1>
<form method="POST" action="/uploadimage">
<label class="btn btn-default">
    Browse <input name="image" type="file" hidden>
</label>
<button class="btn btn-info">Upload Image</button>
</form>
