<!-- <span class="skype-button bubble" data-contact-id="arjun.chakraborty42" data-color="#800000"></span>
<span class="skype-chat" data-color-message="#800000"></span> -->
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

	<div class = "container-fluid arch">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class = "crossGeneration textbox1"><strong> <center> “We want to create a cross generational network of college and high school students to breed success in elite university applications”  </center></strong> </h1>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class = "bigTitleFont-black"><strong> <center> CONSULTING PACKAGES </center></strong> </h1>
      <!-- <p class="lead">Learn about what our various packages consist of.</p> -->
    </div>

    <!-- Pricing -->
	<div id="pricing" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">


				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Bronze Plan</span>
							<div style="background-color: #D16C41;" class="price">
								<!-- <h3 class = "secondTitleFont-black">$38.99<span class="duration secondTitleFont-black">per<br>consultation</span></h3> -->
							</div>
						</div>
                        <center><p class = "packageContents"> 3-hours with consultants</p></center>
                        <center><p class = "packageContents"> Database Access</p></center>
                        <center><p class = "packageContents"> 2 essay-reviews </p></center>

						<div class="price-btn">
						</div>
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Silver plan</span>
							<div style="background-color: #DEDEDE;" class="price">
								<!-- <h3 class = "secondTitleFont-black">$37.99<span class="duration">per<br>consultation</span></h3> -->
							</div>
						</div>
						<center><p class = "packageContents"> 5-hours with consultants</p></center>
                        <center><p class = "packageContents"> Access to Database</p></center>
                        <center><p class = "packageContents"> 3 essay-reviews </p></center>
						<div class="price-btn">
						</div>
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title secondTitleFont-black">Gold plan</span>
							<div style="background-color: #D6C16D;" class="price">
								 <!-- <h3 class = "secondTitleFont-black">$31.99<span class="duration">per<br>consultation</span></h3> -->
							</div>
						</div>
						<center><p class = "packageContents"> 10-hours with consultants</p></center>
                        <center><p class = "packageContents"> Database Access</p></center>
                        <center><p class = "packageContents"> 5 essay-reviews </p></center>
						<div class="price-btn">
						</div>
					</div>
				</div>
				<!-- /pricing -->

			</div>
			<!-- Row -->
  <center><button data-toggle="modal" data-target="#our-services-register-modal" type="button" style="color: white" class="apiary-button btn btn-lg">Register to begin consulting with apiary today</button></center>
		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->



    <br>
    <br>
    <!-- Service -->
	<div id="service" class="section md-padding arch" style="max-height: 700px; overflow: auto">
        <h1 class = "secondTitleFont"><strong> <center> WHAT SERVICES COME WITH AN APIARY CONSULTING PACKAGE?  </center></strong> </h1>
		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="a">What we offer</h2>
				</div>
                <br>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Colleges_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  College Selection </center></h3>
						<p1 class = "service1"><center> We will help you search for institutions that suit you best. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Apply_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Application Advice </center></h3>
						<p1 class = "service1"><center> Learn to perfectly craft your essays. Help us convey the best of you. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Database_icon.png" style = "height: 85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Database </center></h3>
						<p1 class = "service1"><center> Access hundreds of essays from a multitude of students from every elite institution. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Network_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Apiary Network </center></h3>
						<p1 class = "service1"><center> Interact with a vast network of consultants and ambitious students to share the college-application experience. </center></p1>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<center> <img src = "/images/Testing_icon.png" style = "height:85px; width:80px;"> </center>
						<h3 class = "service1" ><center>  Testing </center></h3>
						<p1 class = "service1"><center> Uncover a vast stockpile of resources to ace the standardized testing portion of your application.</center></p1>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->
  <br>
  <br>
<!--
    <br>
    <br>
    <brr>
<div class = "container">
        <h1 class = "bigTitleFont-black"><strong> <center> DATABASES </center></strong> </h1>
    <h3 class = "thirdTitleFont"> We want nothing but academic success for our clients. During our highschool years we found that most mainstream high school curriculums both inside and outside the country are fairly repetitive. Thus, academic success can be greatly influenced by exposure to additional material and practice. At Apiary we have compiled an indispensable database of notes, practice tests and study guides from the AP and IB curriculums.  </h3>
        </div>
    <br>

        <!- Numbers -->
	<!-- <div id="numbers" style="overflow: auto" class="section sm-padding net"> -->

		<!-- Container -->
		<!-- <div class="container-fluid"> -->

			<!-- Row -->
			<!-- <div class="row"> -->

				<!-- number -->
				<!-- <div class="col-xs-12 col-sm-3">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="stat1 white-text"><span class="counter">25+</span></h3>
						<span  class="stat2 white-text">Different Students</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-xs-12 col-sm-3">
					<div class="number">
						<i class="fa fa-trophy"></i>
						<h3 class="stat1 white-text"><span class="counter">50+</span></h3>
						<span class=" stat2 white-text">Unique Univerities</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-xs-12 col-sm-3">
					<div class="number">
						<i class="fa fa-coffee"></i>
						<h3 class="stat1 white-text"><span class="counter">100+</span></h3>
						<span class="stat2 white-text">Unique Essays</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-sm-3 col-xs-12">
					<div class="number">
						<i class="fa fa-file"></i>
						<h3 class="stat1 white-text">15+<span class="counter"></span></h3>
						<span class="stat2 white-text">Different Subjects</span>
					</div>
				</div> -->
				<!-- /number -->

			<!-- </div> -->
			<!-- /Row -->

		<!-- </div> -->
		<!-- /Container -->

<!-- <div> -->
	<!-- /Numbers -->
<!--
        <br>
        <br>
        <br>  -->
				<div class = "container">
				       <br>
				       <h1 class = "bigTitleFont-black"><strong> <center> APIARY NETWORK ACCESS </center></strong> </h1>
				       <h3 class = "secondTitleFont-black"> <center> Our consultants are the most recent admits to top universities. This means that they know what it takes to give your application a successful edge, and that they were in your place just a few years ago. They serve as extensively trained advisors, peer supporters, and role models for clients. Here are some of our active consultants: </center> </h3>
							 			  <center><button data-toggle="modal" data-target="#our-services-register-modal" type="button" style="color: white" class="apiary-button btn btn-lg">Register to join the apiary network</button></center>
				  </div> <br> <br>
					<div id="service" class="section md-padding arch" style="max-height: 700px; overflow: auto">
								<h1 class = "secondTitleFont"><strong> <center> WHY JOIN THE APIARY NETWORK?  </center></strong> </h1>
						<!-- Container -->
						<div class="container">

							<!-- Row -->
							<div class="row">

								<!-- Section header -->
								<!-- /Section header -->

								<!-- service -->
								<div class="col-md-4 col-sm-6">
									<div class="service">
										<center> <img src = "/images/Colleges_icon.png" style = "height:85px; width:80px;"> </center>
										<h3 class = "service1" ><center>  College-Specific Advice </center></h3>
										<p1 class = "service1"><center> Gain access to professors, classes, and exceptional college essays from students currently attending your dream school. </center></p1>
									</div>
								</div>
								<!-- /service -->

								<!-- service -->
								<div class="col-md-4 col-sm-6">
									<div class="service">
										<center> <img src = "/images/Apply_icon.png" style = "height:85px; width:80px;"> </center>
										<h3 class = "service1" ><center>  Comprehensive Services </center></h3>
										<p1 class = "service1"><center>Want a referral to the head of Cornell's Art Department or help on your Why Harvard essay from an English Major at Harvard?</center></p1>
									</div>
								</div>
								<!-- /service -->

								<!-- service -->
								<!-- <div class="col-md-4 col-sm-6">
									<div class="service">
										<center> <img src = "/images/Database_icon.png" style = "height: 85px; width:80px;"> </center>
										<h3 class = "service1" ><center>  Database </center></h3>
										<p1 class = "service1"><center> Access hundreds of essays from a multitude of students from every elite institution. </center></p1>
									</div>
								</div> -->
								<!-- /service -->

								<!-- service -->
								<div class="col-md-4 col-sm-6">
									<div class="service">
										<center> <img src = "/images/Network_icon.png" style = "height:85px; width:80px;"> </center>
										<h3 class = "service1" ><center>  Immediate Outreach  </center></h3>
										<p1 class = "service1"><center> You can text, call, and email the nation's best students for advice -- all on the Apiary site.    </center></p1>
									</div>
								</div>
								<!-- /service -->

								<!-- service -->
								<!-- <div class="col-md-4 col-sm-6">
									<div class="service">
										<center> <img src = "/images/Testing_icon.png" style = "height:85px; width:80px;"> </center>
										<h3 class = "service1" ><center>  Testing </center></h3>
										<p1 class = "service1"><center> Uncover a vast stockpile of resources to ace the standardized testing portion of your application.</center></p1>
									</div>
								</div> -->
								<!-- /service -->

							</div>
							<!-- /Row -->

						</div>
						<!-- /Container -->

					</div>
					<!-- /Service -->
					<br>
					<br>
            <div style="height:520px;" class="fixed-bg-sf p_120">
            <div class="container">
            <div class="block">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <h1 class = "interestedServices"><strong> <center> JOIN THE APIARY NETWORK TODAY </center></strong> </h1>
                <br>
                <center><a href='/register' type="button" class="btn btn-light btn-lg" style = "font-family:'Montserrat', sans-serif ">REGISTER NOW</a></center>

            </div>
            </div>
        </div>

        <footer class="footer-area section_gap" style = "height: 240px;">
            <div class="container">

                                     <center> <img src = "images/apiarylogoblack.png" style = "width: 250px; height: 157px;"> </center>
                <div class="border_line"></div>
              <p class = "first-font"> Copyright © 2018 All rights reserved </p>
            </div>
        </footer>

	<!-- Modals -->
	<div class="modal fade" id="our-services-register-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="apiary-register">Register to Join Apiary Today!</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
					<form method="POST" action="/register">
					<div class="limiter">
							<div class="container-login100">
								<div class="wrap-login100 p-t-30 p-b-50">
									<span class="login100-form-title p-b-41" style = "font-family: 'Montserrat', serif; font-size: 40px;">
					          <br>
					          <br>
										Register as User
					          <br>
					          <br>
									</span>
									<form class="login100-form validate-form p-b-33 p-t-5">

										<div class="wrap-input100 validate-input form-group" data-validate = "Enter firstname">
											<input class="input100 " type="text" name="firstName" placeholder="FIRST NAME" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="	&#x1F58A;"></span>
										</div>

										<div class="wrap-input100 validate-input form-group" data-validate="Enter lastname">
											<input class="input100" type="text" name="lastName" placeholder="LAST NAME" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="	&#x1F58A;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter nationality">
											<select class="input100" type="text" name="country" placeholder="NATIONALITY" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
															 <option value="">NATIONALITY </option>
					<option value="Afganistan">Afghanistan</option>
					<option value="Albania">Albania</option>
					<option value="Algeria">Algeria</option>
					<option value="American Samoa">American Samoa</option>
					<option value="Andorra">Andorra</option>
					<option value="Angola">Angola</option>
					<option value="Anguilla">Anguilla</option>
					<option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
					<option value="Argentina">Argentina</option>
					<option value="Armenia">Armenia</option>
					<option value="Aruba">Aruba</option>
					<option value="Australia">Australia</option>
					<option value="Austria">Austria</option>
					<option value="Azerbaijan">Azerbaijan</option>
					<option value="Bahamas">Bahamas</option>
					<option value="Bahrain">Bahrain</option>
					<option value="Bangladesh">Bangladesh</option>
					<option value="Barbados">Barbados</option>
					<option value="Belarus">Belarus</option>
					<option value="Belgium">Belgium</option>
					<option value="Belize">Belize</option>
					<option value="Benin">Benin</option>
					<option value="Bermuda">Bermuda</option>
					<option value="Bhutan">Bhutan</option>
					<option value="Bolivia">Bolivia</option>
					<option value="Bonaire">Bonaire</option>
					<option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
					<option value="Botswana">Botswana</option>
					<option value="Brazil">Brazil</option>
					<option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
					<option value="Brunei">Brunei</option>
					<option value="Bulgaria">Bulgaria</option>
					<option value="Burkina Faso">Burkina Faso</option>
					<option value="Burundi">Burundi</option>
					<option value="Cambodia">Cambodia</option>
					<option value="Cameroon">Cameroon</option>
					<option value="Canada">Canada</option>
					<option value="Canary Islands">Canary Islands</option>
					<option value="Cape Verde">Cape Verde</option>
					<option value="Cayman Islands">Cayman Islands</option>
					<option value="Central African Republic">Central African Republic</option>
					<option value="Chad">Chad</option>
					<option value="Channel Islands">Channel Islands</option>
					<option value="Chile">Chile</option>
					<option value="China">China</option>
					<option value="Christmas Island">Christmas Island</option>
					<option value="Cocos Island">Cocos Island</option>
					<option value="Colombia">Colombia</option>
					<option value="Comoros">Comoros</option>
					<option value="Congo">Congo</option>
					<option value="Cook Islands">Cook Islands</option>
					<option value="Costa Rica">Costa Rica</option>
					<option value="Cote DIvoire">Cote D'Ivoire</option>
					<option value="Croatia">Croatia</option>
					<option value="Cuba">Cuba</option>
					<option value="Curaco">Curacao</option>
					<option value="Cyprus">Cyprus</option>
					<option value="Czech Republic">Czech Republic</option>
					<option value="Denmark">Denmark</option>
					<option value="Djibouti">Djibouti</option>
					<option value="Dominica">Dominica</option>
					<option value="Dominican Republic">Dominican Republic</option>
					<option value="East Timor">East Timor</option>
					<option value="Ecuador">Ecuador</option>
					<option value="Egypt">Egypt</option>
					<option value="El Salvador">El Salvador</option>
					<option value="Equatorial Guinea">Equatorial Guinea</option>
					<option value="Eritrea">Eritrea</option>
					<option value="Estonia">Estonia</option>
					<option value="Ethiopia">Ethiopia</option>
					<option value="Falkland Islands">Falkland Islands</option>
					<option value="Faroe Islands">Faroe Islands</option>
					<option value="Fiji">Fiji</option>
					<option value="Finland">Finland</option>
					<option value="France">France</option>
					<option value="French Guiana">French Guiana</option>
					<option value="French Polynesia">French Polynesia</option>
					<option value="French Southern Ter">French Southern Ter</option>
					<option value="Gabon">Gabon</option>
					<option value="Gambia">Gambia</option>
					<option value="Georgia">Georgia</option>
					<option value="Germany">Germany</option>
					<option value="Ghana">Ghana</option>
					<option value="Gibraltar">Gibraltar</option>
					<option value="Great Britain">Great Britain</option>
					<option value="Greece">Greece</option>
					<option value="Greenland">Greenland</option>
					<option value="Grenada">Grenada</option>
					<option value="Guadeloupe">Guadeloupe</option>
					<option value="Guam">Guam</option>
					<option value="Guatemala">Guatemala</option>
					<option value="Guinea">Guinea</option>
					<option value="Guyana">Guyana</option>
					<option value="Haiti">Haiti</option>
					<option value="Hawaii">Hawaii</option>
					<option value="Honduras">Honduras</option>
					<option value="Hong Kong">Hong Kong</option>
					<option value="Hungary">Hungary</option>
					<option value="Iceland">Iceland</option>
					<option value="India">India</option>
					<option value="Indonesia">Indonesia</option>
					<option value="Iran">Iran</option>
					<option value="Iraq">Iraq</option>
					<option value="Ireland">Ireland</option>
					<option value="Isle of Man">Isle of Man</option>
					<option value="Israel">Israel</option>
					<option value="Italy">Italy</option>
					<option value="Jamaica">Jamaica</option>
					<option value="Japan">Japan</option>
					<option value="Jordan">Jordan</option>
					<option value="Kazakhstan">Kazakhstan</option>
					<option value="Kenya">Kenya</option>
					<option value="Kiribati">Kiribati</option>
					<option value="Korea North">North Korea</option>
					<option value="Korea Sout">South Korea</option>
					<option value="Kuwait">Kuwait</option>
					<option value="Kyrgyzstan">Kyrgyzstan</option>
					<option value="Laos">Laos</option>
					<option value="Latvia">Latvia</option>
					<option value="Lebanon">Lebanon</option>
					<option value="Lesotho">Lesotho</option>
					<option value="Liberia">Liberia</option>
					<option value="Libya">Libya</option>
					<option value="Liechtenstein">Liechtenstein</option>
					<option value="Lithuania">Lithuania</option>
					<option value="Luxembourg">Luxembourg</option>
					<option value="Macau">Macau</option>
					<option value="Macedonia">Macedonia</option>
					<option value="Madagascar">Madagascar</option>
					<option value="Malaysia">Malaysia</option>
					<option value="Malawi">Malawi</option>
					<option value="Maldives">Maldives</option>
					<option value="Mali">Mali</option>
					<option value="Malta">Malta</option>
					<option value="Marshall Islands">Marshall Islands</option>
					<option value="Martinique">Martinique</option>
					<option value="Mauritania">Mauritania</option>
					<option value="Mauritius">Mauritius</option>
					<option value="Mayotte">Mayotte</option>
					<option value="Mexico">Mexico</option>
					<option value="Midway Islands">Midway Islands</option>
					<option value="Moldova">Moldova</option>
					<option value="Monaco">Monaco</option>
					<option value="Mongolia">Mongolia</option>
					<option value="Montserrat">Montserrat</option>
					<option value="Morocco">Morocco</option>
					<option value="Mozambique">Mozambique</option>
					<option value="Myanmar">Myanmar</option>
					<option value="Nambia">Nambia</option>
					<option value="Nauru">Nauru</option>
					<option value="Nepal">Nepal</option>
					<option value="Netherland Antilles">Netherland Antilles</option>
					<option value="Netherlands">Netherlands (Holland, Europe)</option>
					<option value="Nevis">Nevis</option>
					<option value="New Caledonia">New Caledonia</option>
					<option value="New Zealand">New Zealand</option>
					<option value="Nicaragua">Nicaragua</option>
					<option value="Niger">Niger</option>
					<option value="Nigeria">Nigeria</option>
					<option value="Niue">Niue</option>
					<option value="Norfolk Island">Norfolk Island</option>
					<option value="Norway">Norway</option>
					<option value="Oman">Oman</option>
					<option value="Pakistan">Pakistan</option>
					<option value="Palau Island">Palau Island</option>
					<option value="Palestine">Palestine</option>
					<option value="Panama">Panama</option>
					<option value="Papua New Guinea">Papua New Guinea</option>
					<option value="Paraguay">Paraguay</option>
					<option value="Peru">Peru</option>
					<option value="Phillipines">Philippines</option>
					<option value="Pitcairn Island">Pitcairn Island</option>
					<option value="Poland">Poland</option>
					<option value="Portugal">Portugal</option>
					<option value="Puerto Rico">Puerto Rico</option>
					<option value="Qatar">Qatar</option>
					<option value="Republic of Montenegro">Republic of Montenegro</option>
					<option value="Republic of Serbia">Republic of Serbia</option>
					<option value="Reunion">Reunion</option>
					<option value="Romania">Romania</option>
					<option value="Russia">Russia</option>
					<option value="Rwanda">Rwanda</option>
					<option value="St Barthelemy">St Barthelemy</option>
					<option value="St Eustatius">St Eustatius</option>
					<option value="St Helena">St Helena</option>
					<option value="St Kitts-Nevis">St Kitts-Nevis</option>
					<option value="St Lucia">St Lucia</option>
					<option value="St Maarten">St Maarten</option>
					<option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
					<option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
					<option value="Saipan">Saipan</option>
					<option value="Samoa">Samoa</option>
					<option value="Samoa American">Samoa American</option>
					<option value="San Marino">San Marino</option>
					<option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
					<option value="Saudi Arabia">Saudi Arabia</option>
					<option value="Senegal">Senegal</option>
					<option value="Serbia">Serbia</option>
					<option value="Seychelles">Seychelles</option>
					<option value="Sierra Leone">Sierra Leone</option>
					<option value="Singapore">Singapore</option>
					<option value="Slovakia">Slovakia</option>
					<option value="Slovenia">Slovenia</option>
					<option value="Solomon Islands">Solomon Islands</option>
					<option value="Somalia">Somalia</option>
					<option value="South Africa">South Africa</option>
					<option value="Spain">Spain</option>
					<option value="Sri Lanka">Sri Lanka</option>
					<option value="Sudan">Sudan</option>
					<option value="Suriname">Suriname</option>
					<option value="Swaziland">Swaziland</option>
					<option value="Sweden">Sweden</option>
					<option value="Switzerland">Switzerland</option>
					<option value="Syria">Syria</option>
					<option value="Tahiti">Tahiti</option>
					<option value="Taiwan">Taiwan</option>
					<option value="Tajikistan">Tajikistan</option>
					<option value="Tanzania">Tanzania</option>
					<option value="Thailand">Thailand</option>
					<option value="Togo">Togo</option>
					<option value="Tokelau">Tokelau</option>
					<option value="Tonga">Tonga</option>
					<option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
					<option value="Tunisia">Tunisia</option>
					<option value="Turkey">Turkey</option>
					<option value="Turkmenistan">Turkmenistan</option>
					<option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
					<option value="Tuvalu">Tuvalu</option>
					<option value="Uganda">Uganda</option>
					<option value="Ukraine">Ukraine</option>
					<option value="United Arab Erimates">United Arab Emirates</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="United States of America">United States of America</option>
					<option value="Uraguay">Uruguay</option>
					<option value="Uzbekistan">Uzbekistan</option>
					<option value="Vanuatu">Vanuatu</option>
					<option value="Vatican City State">Vatican City State</option>
					<option value="Venezuela">Venezuela</option>
					<option value="Vietnam">Vietnam</option>
					<option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
					<option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
					<option value="Wake Island">Wake Island</option>
					<option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
					<option value="Yemen">Yemen</option>
					<option value="Zaire">Zaire</option>
					<option value="Zambia">Zambia</option>
					<option value="Zimbabwe">Zimbabwe</option>
						</select>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter gender">
											<select class="input100" type="text" name="gender" placeholder="GENDER" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
													<option value="">GENDER </option>
													<option value="Male">Male</option>
													<option value="Female">Female</option>
													<option value="Other">Other</option>
											</select>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter birthday">
											<input class="input100" type="date" name="dateOfBirth" placeholder="BIRTHDAY" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="	&#x1F382;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter Current Grade">
					            <select class="input100" type="text" name="currentGrade" placeholder="CURRENT SCHOOL YEAR" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
												<option value="">GRADE </option>
												<option value="Male">University Student</option>
												<option value="Male">Grade 12</option>
												<option value="Female">Grade 11</option>
												<option value="Other">Grade 10</option>
											</select>
					          </div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter Email">
											<input class="input100" type="text" name="email" placeholder="E-MAIL" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="	&#x1F4E7;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter Skype Name">
					            <input class="input100" type="text" name="skypeName" placeholder="SKYPE NAME" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
					            <span class="focus-input100" data-placeholder="	&#x1F4E7;"></span>
					          </div>


					          <div class="wrap-input100 validate-input form-group" data-validate="Enter school">
											<input class="input100" type="text" name="school" placeholder="SCHOOL" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="	&#x1F392;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter your academic interestes">
											<input class="input100" type="text" name="interest1" placeholder="FIRST ACADEMIC INTEREST" style = "font-family: 'Montserrat', serif; font-size: 17px; color: white;" required>
											<span class="focus-input100" data-placeholder="	&#x1F913;"></span>
					            <input class="input100" type="text" name="interest2" placeholder="SECOND ACADEMIC INTEREST" style = "font-family: 'Montserrat', serif; font-size: 17px; color: white;" required>
											<!-- <span class="focus-input100" data-placeholder="	&#x1F913;"></span> -->
					            <input class="input100" type="text" name="interest3" placeholder="THIRD ACADEMIC INTEREST" style = "font-family: 'Montserrat', serif; font-size: 17px; color: white;" required>
											<!-- <span class="focus-input100" data-placeholder="	&#x1F913;"></span> -->
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter your extracurricular interestes">
											<input class="input100" type="text" name="hobbie1" placeholder="FIRST HOBBIE" style = "font-family: 'Montserrat', serif; font-size: 17px; color: white;" required>
											<span class="focus-input100" data-placeholder="		&#x26BD;"></span>
					            <input class="input100" type="text" name="hobbie2" placeholder="SECOND HOBBIE" style = "font-family: 'Montserrat', serif; font-size: 17px; color: white;" required>
											<!-- <span class="focus-input100" data-placeholder="		&#x26BD;"></span> -->
					            <input class="input100" type="text" name="hobbie3" placeholder="THIRD HOBBIE" style = "font-family: 'Montserrat', serif; font-size: 17px; color: white;" required>
											<!-- <span class="focus-input100" data-placeholder="		&#x26BD;"></span> -->
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter your intended major at university">
											<input class="input100" type="text" name="intendedMajor" placeholder="INTENDED MAJOR" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="		&#x1F4D6;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter your dream university">
											<input class="input100" type="text" name="dreamUni" placeholder="DREAM UNIVERSITY" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="		&#x1F393;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter username">
											<input class="input100" type="text" name="username" placeholder="USERNAME" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="&#x1F464;"></span>
										</div>

					          <div class="wrap-input100 validate-input form-group" data-validate="Enter password">
											<input class="input100" type="password" name="password" placeholder="PASSWORD" style = "font-family: 'Montserrat', serif; font-size: 20px; color: white;" required>
											<span class="focus-input100" data-placeholder="&#x1F512;"></span>
										</div>

										<div class="container-login100-form-btn m-t-32 form-group">
											<button class="login100-form-btn" style = "font-family: 'Montserrat', serif; font-size: 20px;">
												Register
											</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</form>
	      </div>
	    </div>
	  </div>
	</div>


         <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
