<div id="apiary-forum-container">
 <a style="" class="muut float-mutt" href="https://muut.com/i/apiary">apiary</a> <script src="//cdn.muut.com/1/moot.min.js"></script>
</div>

<!-- <script >
$('.mutt').css(float: 'right');
// $('.mutt').attr('float', 'right');
</script> -->
