<div class = "container-fluid">
<center><h1>Add to Your Ambassdor Profile</h1></center>
<form method="POST">
<div style="font-size: 20" class = "profile-container">
  <center><label>Biography</label></center>
  <div class="wrap-input100 validate-input form-group" data-validate = "Enter Service Title">
    <input class="input100 " type="text" name="serviceTitle" placeholder="SERVICE TITLE" style="font-family: 'Montserrat', serif; font-size: 20px; color: black;" required>
    <span class="focus-input100" data-placeholder="	&#x1F58A;"></span>
  </div>
  <center><label>Accomplishments/Accolades</label></center>
  <div class="wrap-input100 validate-input form-group" data-validate="Enter Service Description">
    <input class="input100" type="text" name="serviceDescription" placeholder="SERVICE DESCRIPTION" style="font-family: 'Montserrat', serif; font-size: 20px; color: black;" required>
    <span class="focus-input100" data-placeholder="	&#x1F58A;"></span>
  </div>
  <center><label>Specialties</label></center>
  <div class="wrap-input100 validate-input form-group" data-validate="Enter Service Price">
    <input min="30" max="150" class="input100" type="text" name="servicePrice" placeholder="SERVICE PRICE" style="font-family: 'Montserrat', serif; font-size: 20px; color: black;" required>
    <span class="focus-input100" data-placeholder="	&#x1F58A;"></span>
  </div>
</div>
<center><a class = "btn btn-danger" href="/ambassadors/myProfile">Cancel</a></center><br>
<center><button type="submit" class="btn btn-info">Submit Changes</button></center>
</form>
</div>
