<h1 style="text-align: center">Your Upcoming Sessions</h1>
<div class = "scheduled-consultation-container">
  <h3>Your Upcoming Consultations </h3>
  <div class = "scheduled-consultation">
    <h5>Consultation 1</h5>
  </div>
  <form method="POST">
<button class="btn-info">RESCHEDULE SESSION</button>
</form>
<form method="POST">
<button class="btn-danger">CANCEL SESSION</button>
</form>
</div>
