<center><h1>Apiary Solutions Terms and Conditions</center>
<div style="padding: 0 30px; padding-bottom: 20px; border: solid 1px black">

  <center><h3>Introduction</h3></center>

  You agree to the following terms and conditions for the use of www.apiary.solutions or any other domains operating under the name “Apiary Solutions” (hereafter referred to as website). You accept these terms and conditions in full and agree to discontinue your use of this website in instances wherein you disagree with any part of the terms and conditions below.

  Disclosure: this website uses cookies. Upon agreeing to these terms and conditions, you consent to Apiary Solutions’s use of cookies in accordance with the terms of Apiary Solutions’'s [privacy policy / cookies policy].]

  <center><h3>License of website</h3></center>

  Unless otherwise specified, all intellectual property and other such materials unique to Apiary Solutions presented and/or offered on the website (hereafter referred to as content) are exclusively subject to the ownership of Apiary Solutions. Under the license below, all intellectual property rights are reserved in entirety.

  Subject to the restrictions set out below and elsewhere in these terms and conditions you may view, download, and/or print (for caching purposes only) the aforementioned content strictly for your own personal use.

<br>
<br>
  <b>You may not:</b>
<ul>
  <li>republish content (defined above) from this website (including republication on other websites);</li>
  <li>sell, rent or sub-license content from the website;</li>
  <li>show any content from the website in public;</li>
  <li>reproduce, duplicate, copy or otherwise exploit content on this website for commercial purposes in any capacity;</li>
  <li>edit or otherwise modify any content on the website; or</li>
  <li>redistribute material from this website [excluding content expressly purposed for redistribution].</li>
</ul>
  In instances wherein content is made expressly available for redistribution, Apiary Solutions reserves the right to specify the people/organizations to whom you may redistribute the subjected content

  <center><h3>Acceptable use</h3></center>

  You shall not 1. use the website in any way that may damage the website, 2. at any time impair the availability or accessibility of the website, 3. engage in, to any capacity, behaviour unlawful, illegal, fraudulent or harmful directly and indirectly to Apiary Solutions and other third parties, 4. engage in, to any capacity, behaviour in connection with any unlawful, illegal, fraudulent or harmful purpose.

  You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.

  You must not conduct any systematic or automated data collection activities (including but not limited to limitation scraping, data mining, data extraction and data harvesting) directly and/or indirectly on this website without Apiary Solutions’s express written consent.

  You shall not use this website to transmit or send unsolicited commercial communications.
  You shall not use this website for any marketing purposes without Apiary Solutions’s express written consent.

  <center> <h3>Restriction of access</h3> </center>

  Access to certain areas of the website is restricted. Apiary Solutions reserves the right to restrict access to certain areas of this website, or indeed this entire website, at Apiary Solutions’s discretion.

  If Apiary Solutions provides you with a user ID and password to enable you to access such restricted areas of the website and/or other content or services, you must ensure that the user ID and password are kept and maintained confidential.

  Apiary Solutions reserves the right to disable your user ID and password in Apiary Solutions’s sole discretion without notice or explanation.

  <center> <h3> User content </h3> </center>

  In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.

  You grant to Apiary Solutions a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant Apiary Solutions the right to sub-license these rights, and also the right to bring action for any and all infringement of such rights.

  Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action against 1. you, 2. Apiary Solutions, 3. any third parties (each case under any applicable law).

  No content submitted to the website may be/may have ever been subject to any 1. threatened legal proceedings, 2. actual legal proceedings 3. other forms of dispute/complaint from which potential legal proceedings may arise.

  Apiary Solutions reserves the right to edit or remove 1. any content submitted to the website 2. any content stored on Apiary Solutions’s servers 3. any content hosted or published by the website.

  [Notwithstanding Apiary Solutions’s rights under these terms and conditions in relation to user content, Apiary Solutions does not undertake the monitoring of submissions of such content to, or the publication of such content on this website.]

  <center> <h3> On warranties </h3> </center>

  This website is provided “as is” without any representations or warranties, express or implied. Apiary Solutions makes no representations or warranties in relation to the website or information and materials provided on said website.

  Without prejudice to the generality of the foregoing paragraph, Apiary Solutions does not warrant that:

  the website will be constantly available, or available at all;
  the information on this website is complete, true, accurate or non-misleading;
  Nothing on this website constitutes, or is meant to constitute, professional advice of any kind.  (should you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.)

  <center> <h3> Limitations of liability </h3> </center>

  You may not hold Apiary Solutions liable (whether under the law of contract, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with the website:

  (to the extent that the website is provided free-of-charge, for any direct loss;)
  for any indirect, special or consequential loss; or
  for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.

  These limitations of liability apply even if Apiary Solutions has been expressly advised of the potential loss.

  <center> <h3> Exceptions </h3> </center>

  Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit Apiary Solutions’s liability with  respect of any:

  death or personal injury caused directly by Apiary Solutions’s negligence;
  fraud or fraudulent misrepresentation on the part of Apiary Solutions; or
  matter under which it would be illegal or unlawful for Apiary Solutions to exclude or limit, to attempt to or purport to exclude or limit its liability.

  <center> <h3>Reasonability</h3> </center>

  By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.

  Should you disagree with the reasonability of any and all language explicitly provided on this website, you must discontinue your use of this website.

  <center> <h3> Other parties </h3> </center>

  You accept that, as a limited liability entity, Apiary Solutions has interest in limiting the personal liability of its officers and employees. You consent that you shall not bring any personal claim against Apiary Solutions’s officers or employees with respect to any losses you suffer in connection to the website.

  Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liabilities set out in this website disclaimer shall protect Apiary Solutions’s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as Apiary Solutions.

  <center> <h3> Unenforceable provisions </h3> </center>

  In instances wherein any provision of this website disclaimer is, or is found to be unenforceable under applicable law, the enforceability of the other provisions of this website disclaimer shall not be annulled.

  <center> <h3> Indemnity </h3> </center>

  You hereby indemnify Apiary Solutions and consent to undertake provisions to keep Apiary Solutions indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by Apiary Solutions to a third party in settlement of a claim or dispute on the advice of Apiary Solutions’s legal advisers) incurred or suffered by Apiary Solutions arising out of any breach by you on any provision of these terms and conditions or arising out of any claim that you have breached any provision of these terms and conditions.

  <center> <h3> Breaches of these terms and conditions </h3> </center>

  Without prejudice to Apiary Solutions’s other rights under these terms and conditions, should you breach the terms and conditions in any way, Apiary Solutions may take such action as Apiary Solutions deems appropriate to deal with the breach, including 1. suspending your access to the website 2. prohibiting you from accessing the website 3. blocking computers using your IP address from accessing the website 4. contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.

  <center> <h3> Variation </h3> </center>

  Apiary Solutions may revise these terms and conditions from time to time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  You consent to doing due diligence to check Apiary Solutions’s Terms and Conditions regularly to ensure that you are familiar with and understand the most recent version.

  <center> <h3>  Assignment</center> </h3>

  Apiary Solutions may transfer, sub-contract or otherwise deal with Apiary Solutions’s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.

  You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.

  <center> <h3>Severability</center> </h3>

  In instances wherein any provision of these terms and conditions is found by any court or other competent authority to be unlawful or unenforceable, provisions unaffected by such rulings will retain enforceability.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted or otherwise modified, said part will be deemed to be deleted or modified and the remainder of said provision will retain enforceability.

  <center> <h3>Entire agreement</center> </h3>

  These terms and conditions constitute the entire agreement between you and Apiary Solutions in relation to your use of this website and supersede all previous agreements in respect of your use of this website.

  <center> <h3>Law and jurisdiction</center> </h3>

  These terms and conditions will be governed by and construed in accordance with the laws of the United States], and any disputes relating to these terms and conditions will be subject to the [non-]exclusive jurisdiction of the courts of Delaware.

  <center> <h3>Registrations and authorisations</center> </h3>

  Apiary Solutions is registered with the SEC.  You can find the online version of the register at [URL].  Apiary Solutions’s registration number is [NUMBER].]
  Apiary Solutions subscribes to the following code[s] of conduct: [CODE(S) OF CONDUCT].  [These codes/this code] can be consulted electronically at [URL(S)].
  Apiary Solutions’s [TAX] number is [NUMBER].]]

  <center> <h3>Apiary Solutions’s details</center> </h3>

  Apiary Solutions is registered in Delaware under registration number [NUMBER].]
  Apiary Solutions’s registered address is [ADDRESS].
  You can contact Apiary Solutions by email to [EMAIL].

  <center> <h3>Credit</center> </h3>

  This document was drafted upon  a Contractology template available at http://www.contractology.com.
</div>
